.box-elem-1 { background-color: #f1f1f1;  }
.box-elem-2 { background-color: #d1f7f7;  }
.box-elem-3 { background-color: #ffbdff;  }
.box-elem-4 { background-color: #c3ff04;  }
.box-elem-5 { background-color: #ffd2d1;  }
.box-elem-6 { background-color: #dadada;  }
.box-elem-7 { background-color: #c2bcff;  }
.box-elem-8 { background-color: #ff885d;  }
.box-elem-9 { background-color: #abfb6a;  }
.box-elem-10 { background-color: #c1f2ff; }
.box-elem-11 { background-color: #ffb2ff; }
.box-elem-12 { background-color: #92ff19; }
.box-elem-13 { background-color: #f4d9d9; }
.box-elem-14 { background-color: #ffdfb6; }
.box-elem-15 { background-color: #ffb94b; }
.box-elem-16 { background-color: #f5f621; }
.box-elem-17 { background-color: #4dff40; }
.box-elem-18 { background-color: #a1f2ff; }
.box-elem-19 { background-color: #ffacff; }
.box-elem-20 { background-color: #51ff23; }
.box-elem-21 { background-color: #ececec; }
.box-elem-22 { background-color: #e1e5ea; }
.box-elem-23 { background-color: #dedee3; }
.box-elem-24 { background-color: #cddbff; }
.box-elem-25 { background-color: #efc9ff; }
.box-elem-26 { background-color: #ffb37a; }
.box-elem-27 { background-color: #ffc3d3; }
.box-elem-28 { background-color: #80fd79; }
.box-elem-29 { background-color: #ffc877; }
.box-elem-30 { background-color: #d2d4ff; }
.box-elem-31 { background-color: #ffcfce; }
.box-elem-32 { background-color: #b5e1e0; }
.box-elem-33 { background-color: #ffc3ff; }
.box-elem-34 { background-color: #ffcb41; }
.box-elem-35 { background-color: #ffa494; }
.box-elem-36 { background-color: #93eeff; }
.box-elem-37 { background-color: #f8abff; }
.box-elem-38 { background-color: #33ff25; }
.box-elem-39 { background-color: #94ffff; }
.box-elem-40 { background-color: #a9f6f6; }
.box-elem-41 { background-color: #a0f0f7; }
.box-elem-42 { background-color: #8fefef; }
.box-elem-43 { background-color: #8beae9; }
.box-elem-44 { background-color: #86e7e6; }
.box-elem-45 { background-color: #87e2f2; }
.box-elem-46 { background-color: #8edafa; }
.box-elem-47 { background-color: #e4e4e4; }
.box-elem-48 { background-color: #ffe49a; }
.box-elem-49 { background-color: #ffc9c6; }
.box-elem-50 { background-color: #bfdbdb; }
.box-elem-51 { background-color: #ffbeff; }
.box-elem-52 { background-color: #ffc257; }
.box-elem-53 { background-color: #ff9bff; }
.box-elem-54 { background-color: #90e8fb; }
.box-elem-55 { background-color: #f2a8ff; }
.box-elem-56 { background-color: #62fe4d; }
.box-elem-57 { background-color: #91f3ff; }
.box-elem-58 { background-color: #f3f3bb; }
.box-elem-59 { background-color: #d3f9c1; }
.box-elem-60 { background-color: #c4fcc4; }
.box-elem-61 { background-color: #a4ffc8; }
.box-elem-62 { background-color: #92ffca; }
.box-elem-63 { background-color: #69ffce; }
.box-elem-64 { background-color: #51ffcf; }
.box-elem-65 { background-color: #41ffd0; }
.box-elem-66 { background-color: #36ffd0; }
.box-elem-67 { background-color: #2cffa7; }
.box-elem-68 { background-color: #49ff91; }
.box-elem-69 { background-color: #58ff7b; }
.box-elem-70 { background-color: #66fb71; }
.box-elem-71 { background-color: #71f66d; }
.box-elem-72 { background-color: #82efff; }
.box-elem-73 { background-color: #95e4ff; }
.box-elem-74 { background-color: #88e3ff; }
.box-elem-75 { background-color: #94ddff; }
.box-elem-76 { background-color: #9fd5ff; }
.box-elem-77 { background-color: #a2d0ff; }
.box-elem-78 { background-color: #e6e6f7; }
.box-elem-79 { background-color: #ffe23a; }
.box-elem-80 { background-color: #e1e1fa; }
.box-elem-81 { background-color: #ffb9ae; }
.box-elem-82 { background-color: #cbcdd7; }
.box-elem-83 { background-color: #ffb3ff; }
.box-elem-84 { background-color: #ffbc68; }
.box-elem-85 { background-color: #f0c3b6; }
.box-elem-86 { background-color: #a0dff5; }
.box-elem-87 { background-color: #eda6ff; }
.box-elem-88 { background-color: #86e871; }
.box-elem-89 { background-color: #abe3ff; }
.box-elem-90 { background-color: #6aefff; }
.box-elem-91 { background-color: #7ce4ff; }
.box-elem-92 { background-color: #8addff; }
.box-elem-93 { background-color: #95d6ff; }
.box-elem-94 { background-color: #a4cbff; }
.box-elem-95 { background-color: #cbc0ff; }
.box-elem-96 { background-color: #e3bdff; }
.box-elem-97 { background-color: #f8b3ff; }
.box-elem-98 { background-color: #ffa4ff; }
.box-elem-99 { background-color: #ff98ff; }
.box-elem-100 { background-color: #ff9aff; }
.box-elem-101 { background-color: #ff97ff; }
.box-elem-102 { background-color: #ff96f7; }
.box-elem-103 { background-color: #ff93cf; }
.box-elem-104 { background-color: #ff92be; }
.box-elem-105 { background-color: #ff91b1; }
.box-elem-106 { background-color: #ff90a2; }
.box-elem-107 { background-color: #ff8e90; }
.box-elem-108 { background-color: #ff8d83; }
.box-elem-109 { background-color: #ff8c79; }
.box-elem-110 { background-color: black; }
.box-elem-111 { background-color: black; }
.box-elem-112 { background-color: black; }
.box-elem-113 { background-color: black; }
.box-elem-114 { background-color: black; }
.box-elem-115 { background-color: black; }
.box-elem-116 { background-color: black; }
.box-elem-117 { background-color: black; }
.box-elem-118 { background-color: black; }



.box-elem-1   b{ color: black }
.box-elem-2   b{ color: black  }
.box-elem-3   b{ color: black  }
.box-elem-4   b{ color: black  }
.box-elem-5   b{ color: black  }
.box-elem-6   b{ color: black  }
.box-elem-7   b{ color: black  }
.box-elem-8   b{ color: black  }
.box-elem-9   b{ color: black  }
.box-elem-10  b{ color: black; }
.box-elem-11  b{ color: black; }
.box-elem-12  b{ color: black; }
.box-elem-13  b{ color: black; }
.box-elem-14  b{ color: black; }
.box-elem-15  b{ color: black; }
.box-elem-16  b{ color: black; }
.box-elem-17  b{ color: black; }
.box-elem-18  b{ color: black; }
.box-elem-19  b{ color: black; }
.box-elem-20  b{ color: black; }
.box-elem-21  b{ color: black; }
.box-elem-22  b{ color: black; }
.box-elem-23  b{ color: black; }
.box-elem-24  b{ color: black; }
.box-elem-25  b{ color: black; }
.box-elem-26  b{ color: black; }
.box-elem-27  b{ color: black; }
.box-elem-28  b{ color: black; }
.box-elem-29  b{ color: black; }
.box-elem-30  b{ color: black; }
.box-elem-31  b{ color: black; }
.box-elem-32  b{ color: black; }
.box-elem-33  b{ color: black; }
.box-elem-34  b{ color: black; }
.box-elem-35  b{ color: black; }
.box-elem-36  b{ color: black; }
.box-elem-37  b{ color: black; }
.box-elem-38  b{ color: black; }
.box-elem-39  b{ color: black; }
.box-elem-40  b{ color: black; }
.box-elem-41  b{ color: black; }
.box-elem-42  b{ color: black; }
.box-elem-43  b{ color: black; }
.box-elem-44  b{ color: black; }
.box-elem-45  b{ color: black; }
.box-elem-46  b{ color: black; }
.box-elem-47  b{ color: black; }
.box-elem-48  b{ color: black; }
.box-elem-49  b{ color: black; }
.box-elem-50  b{ color: black; }
.box-elem-51  b{ color: black; }
.box-elem-52  b{ color: black; }
.box-elem-53  b{ color: black; }
.box-elem-54  b{ color: black; }
.box-elem-55  b{ color: black; }
.box-elem-56  b{ color: black; }
.box-elem-57  b{ color: black; }
.box-elem-58  b{ color: black; }
.box-elem-59  b{ color: black; }
.box-elem-60  b{ color: black; }
.box-elem-61  b{ color: black; }
.box-elem-62  b{ color: black; }
.box-elem-63  b{ color: black; }
.box-elem-64  b{ color: black; }
.box-elem-65  b{ color: black; }
.box-elem-66  b{ color: black; }
.box-elem-67  b{ color: black; }
.box-elem-68  b{ color: black; }
.box-elem-69  b{ color: black; }
.box-elem-70  b{ color: black; }
.box-elem-71  b{ color: black; }
.box-elem-72  b{ color: black; }
.box-elem-73  b{ color: black; }
.box-elem-74  b{ color: black; }
.box-elem-75  b{ color: black; }
.box-elem-76  b{ color: black; }
.box-elem-77  b{ color: black; }
.box-elem-78  b{ color: black; }
.box-elem-79  b{ color: black; }
.box-elem-80  b{ color: black; }
.box-elem-81  b{ color: black; }
.box-elem-82  b{ color: black; }
.box-elem-83  b{ color: black; }
.box-elem-84  b{ color: black; }
.box-elem-85  b{ color: black; }
.box-elem-86  b{ color: black; }
.box-elem-87  b{ color: black; }
.box-elem-88  b{ color: black; }
.box-elem-89  b{ color: black; }
.box-elem-90  b{ color: black; }
.box-elem-91  b{ color: black; }
.box-elem-92  b{ color: black; }
.box-elem-93  b{ color: black; }
.box-elem-94  b{ color: black; }
.box-elem-95  b{ color: black; }
.box-elem-96  b{ color: black; }
.box-elem-97  b{ color: black; }
.box-elem-98  b{ color: black; }
.box-elem-99  b{ color: black; }
.box-elem-100 b{ color: black; }
.box-elem-101 b{ color: black; }
.box-elem-102 b{ color: black; }
.box-elem-103 b{ color: black; }
.box-elem-104 b{ color: black; }
.box-elem-105 b{ color: black; }
.box-elem-106 b{ color: black; }
.box-elem-107 b{ color: black; }
.box-elem-108 b{ color: black; }
.box-elem-109 b{ color: black; }
.box-elem-110 b{ color: white; }
.box-elem-111 b{ color: white; }
.box-elem-112 b{ color: white; }
.box-elem-113 b{ color: white; }
.box-elem-114 b{ color: white; }
.box-elem-115 b{ color: white; }
.box-elem-116 b{ color: white; }
.box-elem-117 b{ color: white; }
.box-elem-118 b{ color: white; }